CMakeFiles/
.vscode/
lib/
Makefile
cmake_install.cmake
CMakeCache.txt
.gitmodules
.DS_Store
output
client
build/
main
fastfood_test
menu_burger_test
menu_taco_test
menu_pizza_test
c_party_test
c_cart_test
bin/
